body {
    background-color: white;
    color: black;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
}

nav ol a {
    display: flex;
}

nav ol a {
    color: hotpink;

    &:hover {
        text-decoration: underline;
    }
}
h1 {
    margin-block-end: 1rem;
}
