body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

nav ol a {
    display: flex;
}

nav ol a {
    color: hotpink;

    &:hover {
        text-decoration: underline;
    }
}
h1 {
    margin-block-end: 1rem;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}

.bottom-nav {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

article p{
    margin-bottom: 2em;
    line-height: 1.6;
}