:root {
    --bg-color: papayawhip;
    --fg-color: tomato;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: #333;
        --fg-color: papayawhip;
    }
}

body{
    padding:2.5rem;
    background-color: var(--bg-color);
    color: var(--fg-color)

}