:root {
    --bg-color: white;
    --fg-color: black;
    --royal-blue: #3A65FF;
    --mustard-yellow: #DBB71E;
    --font-primary: "Big Shoulders Stencil", sans-serif;
  
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.column-layout {
    display: flex;
    flex-direction: column;
}

#main-landing {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

#intro-section {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;

}

#vertical-lines {
    width: 100%;
    height: 50%;
    display: flex;
    flex: 1 2 70%;
    background-image: repeating-linear-gradient(to bottom,
            var(--royal-blue),
            var(--royal-blue) 5px,
            transparent 5px,
            transparent 10px);
}

#intro-text-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex: 1 1 70%;
    justify-content: center;
    align-items: flex-end;
    color: var(--mustard-yellow);
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

#intro-text-container p {
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 585px;
    position: relative;
    z-index: 3;
    display: none;
}

#header-intro-text-container {
    display: flex;
    justify-content: center;
    width: 145px;
}



#header-intro-text {
    color: var(--mustard-yellow);
    font-family: var(--font-primary);
    font-size: 1rem;
    padding: 15px 0 0 0;
    max-width: 204px;
    box-sizing: border-box;
    text-wrap: balance;
    width: 100%;
}

#landing-nav {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-nav ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 350px;
    height: 33vh;
    overflow: hidden;
    flex-direction: column;

}

#landing-nav ol li {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 10vh;
    width: 100%;
    background-color: var(--royal-blue);
    color: white;
    font-family: var(--font-primary);
    font-size: 1.3rem;
}

#landing-nav ol li a {
    transform: rotate(0deg);
}

#landing-nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

#landing-nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #DBB71E;
    transition: width 0.3s ease;
}

#landing-nav a:hover::after {
    width: 100%;
}


#header-landing {
    position: absolute;
    height: 45vh;
    width: 70vw;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 50px;

}

#landing-title span {
    white-space: nowrap;
}

#landing-title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    font-size: 2.5rem;
    color: var(--royal-blue);
    justify-content: center;
    line-height: 1.1;
}

#landing-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: var(--royal-blue);
}

#colophon {
    text-align: center;
    color: #DBB71E;
    font-size: 0.8rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: balance;
    color: var(--royal-blue);
    margin-top: 3rem;
}

#colophon p:first-child {
    margin-bottom: 10px;
}

#dropdown-container {
    position: relative;
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

#dropdown-menu {
    display: flex;
    justify-content: center;
}

#table-of-contents {
    display: flex;
    z-index: 2;
    justify-content: center;
    height: 60vh;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

#dropdown-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown-horizontal-line {
    width: 50px;
    height: 10px;
    background-color: #fff;
}

#dropdown-vertical-line {
    width: 50px;
    height: 10px;
    background-color: #DBB71E;
    position: absolute;
    transform: rotate(-90deg);

}

#dropdown-toggle {
    display: none
}

#article-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -100%;
    left: 0;
    right: 0;
    gap: 15px;
    padding: 10px 10px;
    transition: bottom 0.4s ease;
}

#article-nav a {
    background-color: var(--mustard-yellow);
    padding: 10px;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-align: center;
}

#article-nav a:hover {
    background-color: #e6cd62;
}

#table-of-contents:has(#dropdown-toggle:checked) #article-nav {
    bottom: 50px;
}

.current-page {
    pointer-events: none;
    background-color: #e6cd62 !important;
    color: var(--royal-blue) !important;
}

@media screen and (min-width: 480px) {
    #landing-title {
        font-size: 3rem;
        line-height: 1.2;
    }

    #header-intro-text-container {
        width: 166px;
    }

    #landing-subtitle {
        font-size: 1.5rem;
    }

    #landing-nav ol li {
        font-size: 1.7rem;
    }

    #dropdown-container{
    height: 60vh;
} 
    #article-nav a {
        /* border: black 2px solid; */
        padding: 20px;
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 768px) {
    #main-landing {
        flex-direction: row;
    }

    #landing-nav {
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #landing-nav ol li a {
        transform: rotate(-90deg);
    }

    #landing-nav ol {
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 33vw;
        max-width: 350px;
        flex-direction: row;
        max-height: fit-content;
    }
#landing-nav ol li {
        justify-content: center;
        align-items: center;
        width: 10vw;
        max-width: 100px;
        height: 100%;
        font-size: 2rem;
    }
    #intro-section {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    #vertical-lines {
        width: 50%;
        height: 100%;
        flex: 1 2 70%;
        background-image: repeating-linear-gradient(to right,
                var(--royal-blue),
                var(--royal-blue) 5px,
                transparent 5px,
                transparent 10px);
    }

    #intro-text-container {
        width: 50%;
        height: 100%;
        flex: 1 1 70%;
        justify-content: center;
        align-items: flex-end;
        font-size: 1.5rem;
    }

    #intro-text-container p {
        display: block;
    }

    #header-intro-text {
        display: none;
        font-size: 1.5rem;
    }

    #header-landing {
        height: 50vh;
        width: 50vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        padding-left: 3rem;
        flex-direction: row;
    }

    #landing-title {
        font-size: 6rem;
        line-height: 1.2;
    }

    #landing-subtitle {
        font-size: 2rem;
    }

    #colophon {
        font-size: 0.9rem;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    #intro-text-container {
        font-size: 2rem;
    }

}