:root {
    --bg-color: white;
    --fg-color: black;
    --royal-blue: #3A65FF;
    --mustard-yellow: #DBB71E;
    --font-primary: "Big Shoulders Stencil", sans-serif;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body {
    background-color: var(--fg-color);
    color: var(--bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* height: 100vh; */
}

.column-layout {
    display: flex;
    flex-direction: column;
}

#main-landing {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#intro-section {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

}

#vertical-lines {
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1 2 70%;
    background-image: repeating-linear-gradient(to right,
            var(--royal-blue),
            var(--royal-blue) 5px,
            transparent 5px,
            transparent 10px);
}

#intro-text-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1 1 70%;
    justify-content: center;
    align-items: flex-end;
    color: var(--mustard-yellow);
    font-family: var(--font-primary);
    font-size: 1.5rem;


}

#intro-text-container p {
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 585px;
    position: relative;
    z-index: 3;
}

#landing-nav {
    /* width: 33%; */
    height: auto;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-nav ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 33vw;
    max-width: 350px;
    overflow: hidden;
    flex-direction: column;

}

#landing-nav ol li {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 10vw;
    max-width: 100px;
    height: 100%;
    background-color: var(--royal-blue);
    color: white;
    font-family: var(--font-primary);
    font-size: 2rem;
}

#landing-nav ol li a {
    transform: rotate(0deg);
}

#landing-nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

#landing-nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #DBB71E;
  transition: width 0.3s ease;
}

#landing-nav a:hover::after {
  width: 100%;
}



/* header, section, footer {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
} */

/* #header-landing-desktop {
    display: none;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: visible;
   
} */
/* #header-landing-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: hidden;
} */
#header-landing {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    box-sizing: border-box;

}
#landing-title{
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    font-size: 6rem;
    color: var(--royal-blue);
    justify-content: center;
    line-height: 1.2;
}
#landing-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color:var(--royal-blue) ;
}
footer {
    text-align: center;
    color: #DBB71E;
    font-size: 0.9 rem;
    border-top: 1px solid #eee;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #main-landing{
    flex-direction: row;
    }
    #landing-nav {
    /* width: auto;  */
    height: 100%;
    justify-content: center;
    align-items: center;
}
    #landing-nav ol li a {
    transform: rotate(-90deg);
}
#landing-nav ol {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 33vw;
    max-width: 350px;

}
}

@media screen and (min-width: 992px) {
    #intro-text-container {
        font-size: 2rem;
    }
}