:root {
    --bg-color: white;
    --fg-color: black;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body{
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: sans-serif;
    margin: 0 auto;
    padding:2.5rem;
    max-width: 700px;
    line-height: 1.6;
}