:root {
    --bg-color: white;
    --fg-color: black;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body {
    background-color: var(--fg-color);
    color: var(--bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    /* height: 100vh; */
}
/* header, section, footer {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
} */

#header-landing-desktop {
    display: none;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: visible;
   
}
#header-landing-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: hidden;
}
.image{
    position:absolute;
    /* transform: scale(2) translateY(-25%); */
    left: 50%;
    transform: translate(-50%,0%);
    bottom:0;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    display: block;
}
#header-landing-desktop img, #header-landing-mobile img{
    position:relative;
    /* transform: scale(2) translateY(-25%); */
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    display: block;
}


#landing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem;
    font-weight: 800;
    text-align: center;
    /* margin-bottom: 1.5rem; */
    line-height: 1.05;
    letter-spacing: -0.03em;
     width: fit-content;
     text-transform: uppercase;
     z-index: 2;
    font-family: "Big Shoulders Inline", sans-serif;
    text-align: left;
    position:relative
    
}
#landing-subtitle{
     font-size: 2rem;
     position: static;
     top: 100px;
     right: 40px;
     width: 250px;
     letter-spacing: 0.03em;
     display: flex;
     flex-direction: column;
    
    
}
#subtitle-naming{
    margin-left: 12rem;
}
/* h1 span{
    display: block;
} */


#main-landing{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    /* height: 50vh; */
    flex-direction: row;
    z-index: 2;
    position: relative;
    width:90%;
    margin: 0 auto;
}
#main-landing p {
    font-family: "Big Shoulders Inline", sans-serif !important;
    color: #3A65FF;
    margin-bottom: 80px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 60px;
    text-align: left;
    max-width: 600px;
    padding-top: 80px;
}
#dropdown-container{
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
#dropdown-menu{
    display: flex;
    justify-content: center;
}
#table-of-contents{
    display: flex;
    z-index: 2;
    flex-direction: column;
    margin-left: 10rem;
    font-family: "Big Shoulders Inline";
    font-size: 4rem;
    color: #3A65FF;
}
#dropdown-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#horizontal-line{
    width: 50px;
    height:10px;
    background-color: #3A65FF;
}
#vertical-line{
    width: 50px;
    height: 10px;
    background-color: #DBB71E;
    position: absolute;
    transform: rotate(-90deg);

}
#dropdown-toggle{
    display:none
}
#landing-nav{
  position: absolute;
  display: flex;
  flex-direction: column;  
  top: -100%;
  left: 0;
  right: 0;
  /* border: black 2px solid; */
  padding: 10px 10px;
  transition: top 0.4s ease;
  border-radius: 10px;
  font-family: "Big Shoulders Inline", sans-serif;
} 
#landing-nav a {
    /* border: black 2px solid; */
    background-color: rgba(58,101,255,0.6);
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
}
#landing-nav a:hover{
background-color: #DBB71E;
}
#landing-nav a:nth-child(2) {
    margin: 10px 0;
}
/* #table-of-contents:hover nav{
   top: 30px;
} */
 #dropdown-toggle:checked ~ #dropdown-container nav{
    top: 30px;
 }
/* #main-landing section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 3rem;
}
#main-landing section>a>p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-landing section>p{
    text-align: center;
    text-wrap: balance;
}

#chapter-number{
    font-size: 60px;
}
.section-phrases{
    height: 5px;
    width: 50%;
    background-color: var(--bg-color);
    margin: 2rem 0;  
}
h2{
   display: flex;
   flex-direction: column;
   align-items: center;  
   font-size: 36px;
}
.chapter-divider{
    height: 80%;
    width: 5px;
    background-color: var(--bg-color);
} */



/* ol{
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

a{
    color: var(--fg-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

a:hover {
    border-bottom: 1px solid var(--fg-color)
} */

/* .bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;


}

.bottom-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000 ;
    font-weight: 500;
    transition: color 0.3s ease;
}

.bottom-nav a:hover {
    color: #777;
} */

footer {
    text-align: center;
    color: #DBB71E;
    font-size: 0.9 rem;
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 4rem;
}
@media screen and (min-width: 768px) {
 #header-landing-desktop img{
    /* transform: scale(2) translateY(-30%); */


}
   
}
@media screen and (min-width: 1024px) {
    #header-landing-mobile{
        display: none;


    }
    #header-landing-desktop{
        display: flex;
    }
   
    #landing-title{
        align-items:stretch;
        margin-left: 10vw;
    }
    #landing-subtitle{
     white-space: nowrap;
    position: absolute;
    
}
}