:root {
    --bg-color: white;
    --fg-color: black;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body {
    background-color: var(--fg-color);
    color: var(--bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    /* height: 100vh; */
}
/* header, section, footer {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
} */

#header-landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 50vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
}
#header-landing img{
    position:absolute;
    transform: scale(4) translateY(-30%);


}


#landing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    /* margin-bottom: 1.5rem; */
    line-height: 1.05;
    letter-spacing: -0.03em;
     width: 33%;
     text-transform: uppercase;
     z-index: 2;
    font-family: "Big Shoulders Inline", sans-serif;
}
#landing-subtitle{
     font-size: 2rem;
    
}
/* h1 span{
    display: block;
} */


#main-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    z-index: 2;
}
#main-landing p {
    font-family: "Big Shoulders Inline", sans-serif;
    color: #EA5916;
}
#table-of-contents{
    display: flex;
    z-index: 2;
}
#dropdown-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#horizontal-line{
    width: 50px;
    height:10px;
    background-color: #EA5916;
}
#vertical-line{
    width: 50px;
    height: 10px;
    background-color: #DBB71E;
    position: absolute;
    transform: rotate(-90deg);

}
nav{
  /* display: none; */
  flex-direction: column;  
} 
#table-of-contents:hover + nav{
    display: flex;
}
/* #main-landing section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 3rem;
}
#main-landing section>a>p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-landing section>p{
    text-align: center;
    text-wrap: balance;
}

#chapter-number{
    font-size: 60px;
}
.section-phrases{
    height: 5px;
    width: 50%;
    background-color: var(--bg-color);
    margin: 2rem 0;  
}
h2{
   display: flex;
   flex-direction: column;
   align-items: center;  
   font-size: 36px;
}
.chapter-divider{
    height: 80%;
    width: 5px;
    background-color: var(--bg-color);
} */



/* ol{
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

a{
    color: var(--fg-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

a:hover {
    border-bottom: 1px solid var(--fg-color)
} */

/* .bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;


}

.bottom-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000 ;
    font-weight: 500;
    transition: color 0.3s ease;
}

.bottom-nav a:hover {
    color: #777;
} */

/* footer {
    text-align: center;
    color: #666;
    font-size: 0.9 rem;
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 4rem;
} */
@media screen and (min-width: 768px) {
 #header-landing img{
    transform: scale(2) translateY(-30%);


}
   
}