:root {
    --bg-color: white;
    --fg-color: black;
    --royal-blue: #3A65FF;
    --mustard-yellow: #DBB71E;
    --font-primary: "Big Shoulders Stencil", sans-serif;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body {
    background-color: var(--fg-color);
    color: var(--bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    /* height: 100vh; */
}
.column-layout{
    display: flex;
    flex-direction: column;
}
#main-landing{
    width: 100%;
    height: 80vh;
    display: flex;
}
#intro-section{
    display: flex;
    width: 100%;
    height: 100%;
    
}
#vertical-lines{
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1 4 70%;
    background-image: repeating-linear-gradient(
    to right,
    var(--royal-blue), 
    var(--royal-blue) 5px, 
    transparent 5px, 
    transparent 10px 
  );
}
#intro-text-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex: 1 1 70%;
    align-items: flex-end;
    color: var(--mustard-yellow);
    font-family: var(--font-primary)
    
}
#landing-nav{
    /* width: 33%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#landing-nav ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 33vw;
    max-width: 350px;
    overflow: hidden;
    

}
#landing-nav ol li{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 10vw;
    max-width: 100px;
    height: 100%;
    background-color: var(--royal-blue);
    color: white;
    font-family: var(--font-primary);
}
#landing-nav ol li a {
 transform: rotate(-90deg);
}
/* header, section, footer {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
} */

/* #header-landing-desktop {
    display: none;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: visible;
   
} */
/* #header-landing-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vh;
    font-family: "Big Shoulders Inline", sans-serif;
    color: white;
    overflow: hidden;
} */


footer {
    text-align: center;
    color: #DBB71E;
    font-size: 0.9 rem;
    border-top: 1px solid #eee;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
 
   
}
@media screen and (min-width: 1024px) {
  

}