:root {
    --bg-color: white;
    --fg-color: black;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: black;
        --fg-color: white;
    }
}

body {
    background-color: var(--fg-color);
    color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* header, section, footer {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
} */

#header-landing {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#header-phrases{
    height: 5px;
    width: 10%;
    background-color: var(--bg-color);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    /* margin-bottom: 1.5rem; */
    line-height: 1.05;
    letter-spacing: -0.03em;
     width: 33%;
     text-transform: uppercase;
}
/* h1 span{
    display: block;
} */
#header-landing p{
    text-align: center;
    color: #444;
    /* margin-bottom: 2rem; */
    width: 33%;
}

#main-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height:70%;
}
#main-landing section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 3rem;
}
#main-landing section>a>p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-landing section>p{
    text-align: center;
    text-wrap: balance;
}

#chapter-number{
    font-size: 60px;
}
.section-phrases{
    height: 5px;
    width: 50%;
    background-color: var(--bg-color);
    margin: 2rem 0;  
}
h2{
   display: flex;
   flex-direction: column;
   align-items: center;  
   font-size: 36px;
}
.chapter-divider{
    height: 80%;
    width: 5px;
    background-color: var(--bg-color);
}



/* ol{
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

a{
    color: var(--fg-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

a:hover {
    border-bottom: 1px solid var(--fg-color)
} */

/* .bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;


}

.bottom-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000 ;
    font-weight: 500;
    transition: color 0.3s ease;
}

.bottom-nav a:hover {
    color: #777;
} */

footer {
    text-align: center;
    color: #666;
    font-size: 0.9 rem;
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 4rem;
}