
body{
    background-color:#3A65FF ;
    color: white;
    
}
#article-2-main{
display: flex;
justify-content: center;
flex-direction: column;
}
 .bottom-nav {
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #DBB71E;             
} 



/* header h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

#original-article p{
    max-width: 700px;
    margin:0 auto;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
}  */
  #header-subheading{
    width: 50%;
    margin: 0 auto;
    position:relative;
  }
#header-subheading h1{
    font-size: clamp(32px, 8vw,92px);
    font-family: "Big Shoulders Stencil";
    color: #DBB71E;
}
#header-subheading h2{
    font-size: clamp(24px, 5vw,65px);
    font-family: "Open Sans, sans serif";
    color: white;
}
#article-2{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.article-2-links{
    border: 5px white solid;
    padding: 20px;
}


 #original-article{
    width: 85%;
    margin: 0 auto;
 }
 #original-article p{
    margin-bottom: 2rem;
 }
 #original-article blockquote{
    margin: 30px 0;
    padding: 0 40px;
    text-align: center;
    font-size: clamp(22px,5vw,36px);
    font-weight: bold;
    font-style: italic;
    color: #DBB71E;
    font-family: "Big Shoulders Stencil";
 }
 .horizontal-line{
    height: 5px;
    width: 50vw;
    background-color: black;
    margin: 40px auto 100px auto;

 }
 #circle-word{
    display:flex;
    flex-direction:column;
    align-items: center;
 }
 .small-circle{
    border: white 2px solid;
    padding: 30px;
    border-radius: 50%;
 }
  .large-circle{
    border: white 2px solid;
    padding: 60px;
    border-radius: 50%;
    margin: 15px 0; 
 }
 #header-svg{
    position: absolute;
    bottom:0;
    right: 0;
    width: clamp(800px, 100vw, 1200px);
    display: none;
 }
 #blockquote-svg{
    display: none;
    position:absolute;
    transform: scaleY(-1);
    top: 0;
    right: 0;
    width: clamp(800px, 100vw, 1200px);
 }
 #blockquote-container{
    position: relative;
    width: 100%;
    overflow: hidden;
 }
 @media screen and (min-width:768px) {
     #header-subheading{
    
    margin: 0 0 0 auto;
  }
  .horizontal-line{
    display: none;
  }
  #header-svg{
    display: block;
   
  }
  #blockquote-container blockquote{
    width:60%;
    margin-left: auto;
 }
  #blockquote-svg{
    display:block;
    
  }

 }
