
body{
    background-color:#3A65FF ;
    color: white;
    
}
#article-2-main{
display: flex;
justify-content: center;
flex-direction: column;
}
 .bottom-nav {
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #DBB71E;             
} 



/* header h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

#original-article p{
    max-width: 700px;
    margin:0 auto;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
}  */
#nav-header-wrapper{
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 50px;
}
#nav-header-border, #blockquote-border{
    width: 100%;
    height: 5px;
    background-color: #DBB71E;
    display: none;
}
#header-subheading{
    width: 50%;
    margin: 0 auto;
    position:relative;
  }
#header-subheading h1{
    font-size: clamp(32px, 8vw,92px);
    font-family: "Big Shoulders Stencil";
    color: #DBB71E;
}
#header-subheading h2{
    font-size: clamp(24px, 5vw,65px);
    /* font-family: "Open Sans, sans serif"; */
    color: white;
}
#article-2{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    z-index: 3;
    position: relative;
}
.article-2-links{
    border: 5px white solid;
    padding: 20px;
}


 #original-article{
    margin: 0 auto;
 }
 #original-article p{
    margin-bottom: 2rem;
    padding: 0 4rem;
    font-size: 2rem;
 }
 #blockquote-1, #blockquote-2{
    margin: 30px 0;
    padding: 0 40px;
    text-align: center;
    font-size: clamp(22px,5vw,36px);
    font-weight: bold;
    font-style: italic;
    color: #DBB71E;
    font-family: "Big Shoulders Stencil";
 }
 /* #blockquote-2{
    padding: 0 100px;
 } */
 .horizontal-line{
    height: 5px;
    width: 50vw;
    background-color: black;
    margin: 40px auto 100px auto;

 }
 /* #circle-word{
    display:flex;
    flex-direction:column;
    align-items: center;
    min-height: 50vh;
    margin: 10vh 0;
    font-family: "Big Shoulders Stencil";
    font-size: 2rem;
    color: #DBB71E;
 }
 .small-circle{
    border: white 2px solid;
    border-radius: 50%;
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .large-circle{
    border: white 2px solid;
    padding: 10rem;
    border-radius: 50%;
    margin: 15px 0; 
    width: 500px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
 } */

 #diagram-container{
    width: 600px;
    display: flex;
    margin: 50px auto;
    height: 350px;
    justify-content: center;
 }
 #word-container-1,#word-container-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    padding: 0 20px;

 }
 #word-container-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
 }
  #line-container-2{
    height: 100%;
    width: 100%;
 } 
 #line-container-1{
    position: relative;
    left: 10px;
    width: calc(100% + 20px);
    height: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    /* background: linear-gradient(to bottom right, black 3px, transparent 2px); */
 }
 #diagram-line-1{
    width: 200%;
    height: 3px;
    position: absolute;
    top: -5px;
    left: 0;
    transform: rotate(53deg);
    transform-origin: top left;
    background-color: white;
 }
 #line-container-3{
    position: relative;
    right: 10px;
    width: calc(100% + 20px);
    height: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    /* background: linear-gradient(to bottom right, black 3px, transparent 2px); */
 }
 #diagram-line-3{
    width: 200%;
    height: 3px;
    position: absolute;
    top: -5px;
    right: 0;
    transform: rotate(-53deg);
    transform-origin: top right;
    background-color: white;
 }
 .diagram-word{
    border: 3px white solid;
    width: 100% ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #header-svg{
    width: 100%;
    height: 100%;
    
 }
 #blockquote-svg{
    width: 100%;
    height: 100%;
    display: none;
 }
 #header-svg-container{
    position: absolute;
    top:0;
    left: 0;
    width: 40%;
    height: 100%;
    display: none;
    background-color: #3A65FF;
    z-index: 2;
 }
 #blockquote-svg-container{
    transform: scaleY(-1);
    position: absolute;
    bottom:0;
    left: 0;
    width: 40%;
    height: 100%;
    display: none;
    background-color: #3A65FF;
    z-index: 2;
 }
 #blockquote-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 300px;
 }
 .blockquote-vertical-line{
    width: 5px;
    height: 10vh;
    background-color:white;
    margin: 5vh auto;
 }
.zigzag-svg{
    width: 100%;
    height: 100%;
 }
 #zigzag-container{
     height:60vh !important;
     width: 100%;
     position:relative;
     margin: 5vh 0;
 }

 #zigzag-top-svg-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: scaleX(-1);
 }
 #zigzag-bottom-svg-container{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 50%;
   
 }
 @media screen and (min-width:768px) {
     #header-subheading{
    
    margin: 0 0 0 auto;
  }
  .horizontal-line{
    display: none;
  }
  #header-svg-container{
    display: block;
   
  }
  #blockquote-container blockquote{
    width:60%;
    margin-left: auto;
 }
 #blockquote-svg-container, #blockquote-svg{
    display:block;
    
  }
  #blockquote-2{
    max-width: 600px;
    margin: 0 auto;
  }
  /* #circle-word{
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  #expose{
    margin-right: 50px;
    justify-content: flex-start;
    padding-left: 15px;
  }
  #power{
    margin-left: 50px;
    justify-content: flex-end;
    padding-right: 15px;
  } */
#hidden{
    position: absolute;
}
#nav-header-border, #blockquote-border{
    display: block;
}
        
 }
