body {
    background-color: #DBB71E;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* nav ol a {
    display: flex;
}

nav ol a {
    color: hotpink;

    &:hover {
        text-decoration: underline;
    }
} */
h1 {
    margin-block-end: 1rem;
    font-family: "Allerta Stencil";
}

.bottom-nav {
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}


article p{
    /* margin-bottom: 2em; */
    line-height: 1.6;
}

#chapter-3-header{
    border: #fff 5px solid;
    padding: 50px 30px;
    margin: 50px auto 10px auto;
    width: clamp(300px,50vw,500px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#chapter-3-header h1{
    display: flex;
    flex-direction: column;
    font-size: 3em;
}
#chapter-3-links{
    width: clamp(300px,50vw,500px);
    display: flex;
    justify-content: space-between;
    margin: 40px auto 50px auto;
   
}
#article-background{
    display:flex;
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}
#side-text{
    width: 15%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    color: #DBB71E;
}
#main-side-text{
    white-space: nowrap;
    font-size: 72px;
    color: black;
    margin: 0 40px;
}
#sub-side-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 40px;
}
.side-text-line{
    width: 100px;
    height: 4px;
    background-color: black;
    margin: 0 40px;
    flex-shrink: 0;
}
#original-article{
    padding-top: 5rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}
#original-article blockquote{
    margin: 30px 0;
    padding: 40px;
    text-align: center;
    font-size: clamp(22px,5vw,36px);
    font-weight: bold;
    font-style: italic;
    border: 8px #DBB71E solid;
    height: auto;
    font-family: "Allerta Stencil";
    
}
#original-article>p{
    margin: 20px 0;
    
}