body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0 2rem;
    max-width: 800px; */
    margin: 0;
}

/* p {
  margin-bottom: 1rem; 
} */

p {
  margin-bottom: 1.5rem; 
}

/* p {
  text-align: justify;
} */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}

.bottom-nav {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

h1{
  text-align: center; 
  padding-bottom: 3rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center
    height 100vh;
}
#article-author-top{
    height: 90px;
    width: 70%;
    border-bottom: 2px black solid;
}

#nav-links{
    margin-left: 10vw;
    border-left: 2px black solid;
    border-right:2px black solid;
    height: 100%;
    width: auto;
}
#main-chapter-1{

    /* border-left: 2px black solid; */
    width: 70%;
}
#article-top{
    width: 100%;
    border-right:2px black solid;
     margin-left: 10vw; 
    border-left: 2px black solid;
}