body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0 2rem;
    max-width: 800px; */
    margin: 0;
}

/* p {
  margin-bottom: 1rem; 
} */

article >p {
  padding-bottom: 1.5rem; 
  padding-left: 1.5rem;
}

/* p {
  text-align: justify;
} */

.bottom-nav {
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}



h1{
  text-align: center; 
  padding: 3rem 0;
  font-size: 42px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center
    height 100vh;
}
#article-author-top{
    height: 90px;
    width: 70%;
    border-bottom: 2px black solid;
}

#nav-links{
    margin-left: 10vw;
    border-left: 2px black solid;
    border-right:2px black solid;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    font-family: "Lexend", sans-serif; 
}
#main-chapter-1{
    margin-left: 10vw; 
    border-left: 2px black solid;
    border-right:2px black solid;
    width: calc(70% - 10vw);
}
#article-top{
    width: 100%;
    position: relative;
     /* margin-left: 10vw;  */

}
#article-bottom{
    margin-left: 10vw; 
    border-left: 2px black solid;

}
.width-40{
   width: 40%; 
}

.width-70{
    width: 70%; 
}

.width-80{
    width: 80%; 
}
.width-100{
width: 100%; 
}
#article-top blockquote{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 0px);
    height: 400px;
    background-color: #fff;
    z-index: 2;
    padding-top: 40px;

}
.article-1-links{
    padding: 20px;
}

article blockquote{

    padding: 0 40px;
    text-align: center;
    font-size: clamp(22px,5vw,36px);
    font-weight: bold;
    font-style: italic;
    color: black;
    width: 30vw;
    text-wrap: balance;
}
#second-blockquote{
    width: 60%;
    margin-bottom: 20px;
}