/* body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:justify;

}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}

.bottom-nav {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

header h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

#original-article p{
    max-width: 700px;
    margin:0 auto;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
} */

#article-2{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.article-2-links{
    border: 5px black solid;
    padding: 20px;
}
#article-2-intro{
    display: flex;
    width: 85%;
    /* height: 80vh; */
    justify-content: center;
    margin: 0 auto;
    /* align-items: center; */
}

#article-2-intro header{
    display:flex;
    flex-direction: column;
    
}
#article-2-intro header h1{
    font-size: clamp(32px, 8vw,92px);
}
#article-2-intro header,#article-2-intro #right-column{
    width: calc(50% - 2.5px);
   
}
#article-2-divider{
    width: 5px;
    height: 50vh;
    background-color: black;
    align-self: center;
}
#right-column{
    padding: 3rem 5rem;
}
#right-column p{
margin-bottom: 2rem;
}
/* #article-2-intro h1{
    font-size: ;
} */
 #original-article{
    width: 85%;
    margin: 0 auto;
 }
 #original-article p{
    margin-bottom: 2rem;
 }
 #original-article blockquote{
    margin: 30px 0;
    padding: 0 40px;
    text-align: center;
    font-size: clamp(22px,5vw,36px);
    font-weight: bold;
    font-style: italic;
 }