body {
  font-family: "Inter", sans-serif;
  /* padding: 0 2rem;
    max-width: 800px; */
  margin: 0;
  background-color: #3A65FF;
  color: white;
 overflow-x: hidden;
}

h1 {
  text-align: center;
  padding: 3rem 0;
  font-size: 8rem;
  font-family: "Big Shoulders Stencil";
  font-weight: 700;
  color: #DBB71E;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#circle-image {
  width: 50%;
  aspect-ratio: 1 / 1;
}

#main-article{
  
} 
#heading-right-line {
  height: 6vh;

}

#section-article {
  /* margin-top: 100px; */
  position: relative;


}

#section-article article {
  padding: 20px 10vw;
  overflow: hidden;
}

#section-article article>p {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

#section-article::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 90%;
  background-color: white;
  top: 0;
  left: 10%;
}

#first-blockquote {
  margin: 30px 0;
  padding: 40px;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  height: auto;
  font-family: "Big Shoulders Stencil";
  color: #FFF;
  text-wrap: balance;
  position: relative;
}

#second-blockquote {
  /* width: 60%; */
  margin-bottom: 20px;
  font-family: "Big Shoulders Stencil";
  color: #DBB71E;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.4;
  font-size: 5rem;
  text-wrap: balance;
  padding: 40px;
}

.blockquote-vertical-line {
  width: 5px;
  height: 10vh;
  background-color: white;
  margin: 5vh auto;
}

.horizontal-line {
  height: 5px;
  width: 50vw;
  background-color: white;
  margin: 100px auto 60px auto;
}

.bottom-nav {
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;
}


@media screen and (min-width:768px) {
  #main-article {
    border-right: 3px white solid;
    width: calc(100vw - 200px);

  }

  #section-article {
    /* margin-top: 100px; */
    border-left: 3px white solid;
    margin-left: 80px
  }
#section-article::before {
  height: 3px;
  width: calc(100vw - 80px);
  top: 0;
  left: 10%;
}
#section-article::after {
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100vw - 80px);
  bottom: 0;
  left: 10%;
  background-color: #FFF;
}
#blockquote-anchor-line{
  position: absolute;
  height: 3px;
  width: 500px;
  background-color: #FFF;
  right: 0;
  top: 50%;
  transform: translateX(55%);

}
.horizontal-line{
  display: none;
}
}