body {
    font-family: "Inter", sans-serif;
    /* padding: 0 2rem;
    max-width: 800px; */
    margin: 0;
   background-color: #3A65FF;
   color: white;
}

h1{
  text-align: center; 
  padding: 3rem 0;
  font-size: 8rem;
  font-family: "Big Shoulders Stencil";
  font-weight: 700;
  color:#DBB71E ;
  text-transform: uppercase;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle-image{
  width: 50%;
  aspect-ratio: 1 / 1;
}

#main-article{
    margin-top: 100px;
    position: relative;

}
#main-article article{
  padding: 20px 10vw;
}

#main-article article p {
  margin-bottom: 2rem;
  font-size: 2rem;
}
#main-article::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 90%;
  background-color: white;
  top: 0;
  left: 10%;
}


#second-blockquote{
    width: 60%;
    margin-bottom: 20px;
    font-family: "Big Shoulders Stencil";
    color: #DBB71E;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.4;
    font-size: 2rem;
}


.bottom-nav {
  width: 100%;
  background: transparent; 
  text-align: center;
  padding: 1rem 2rem;
  border-top: none;
}

.bottom-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;             
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom-nav a:hover {
  color: #999;             
}


  
